html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
}

button {
    cursor: pointer;
    height: 40px;
    width: 80px;
    border-radius: 4px;
}

button:disabled{
    cursor: default;
}

input {
    border: none;
    padding: none;
    width: 100%;
  }