html {
  font-size: 62.5%;
}

body {
  font-family: "Titillium Web", sans-serif;
  font-size: $m-size;
  background-color: $dark-grey;
  color: white;
}

button {
  cursor: pointer;
  height: 40px;
  width: 100px;
  border-radius: 4px;
  outline: none;
  background-color: $purple;
  color: white;
  border: none;
}

button:disabled {
  cursor: default;
}

textarea {
  resize: none;
  border: none;
  padding: 10px;
  outline: none;
  width: 600px;
  text-align: justify;
  background-color: $light-grey;
  color: white;
}

#header {
  text-align: center;
  font-size: $xl-size;
}
